## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config1 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,3.07,172.79,83.03,73,100,17.96,overcast clouds
1,1,Rio Gallegos,AR,-51.62,-69.22,44.60,52,75,10.29,broken clouds
2,2,Psebay,RU,44.12,40.81,62.69,85,63,3.78,broken clouds
3,3,Gambo,CF,4.65,22.26,71.40,94,62,2.57,light rain
4,4,Albany,US,42.60,-73.97,72.00,52,30,2.37,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,3.07,172.79,83.03,73,100,17.96,overcast clouds
6,6,Soyo,AO,-6.13,12.37,77.00,83,75,8.05,broken clouds
9,9,Tabuk,PH,17.42,121.44,75.16,86,100,2.26,overcast clouds
11,11,Chumphon,TH,10.33,98.83,75.56,95,99,4.05,overcast clouds
12,12,Santo Tomas,PH,14.11,121.14,84.20,79,100,5.82,overcast clouds
13,13,Surat,IN,21.17,72.83,85.01,72,97,5.61,moderate rain
14,14,Baherden,TM,38.44,57.43,80.13,16,0,10.22,clear sky
18,18,Ribeira Grande,PT,38.52,-28.70,75.20,53,40,23.04,scattered clouds
28,28,Faanui,PF,-16.48,-151.75,77.56,77,74,8.52,light rain
29,29,Georgetown,MY,5.41,100.34,82.40,83,40,2.24,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             251
City                   251
Country                250
Lat                    251
Lng                    251
Max Temp               251
Humidity               251
Cloudiness             251
Wind Speed             251
Current Description    251
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [7]:
clean_df.count()

Unnamed: 0             250
City                   250
Country                250
Lat                    250
Lng                    250
Max Temp               250
Humidity               250
Cloudiness             250
Wind Speed             250
Current Description    250
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,83.03,overcast clouds,3.07,172.79,
6,Soyo,AO,77.00,broken clouds,-6.13,12.37,
9,Tabuk,PH,75.16,overcast clouds,17.42,121.44,
11,Chumphon,TH,75.56,overcast clouds,10.33,98.83,
12,Santo Tomas,PH,84.20,overcast clouds,14.11,121.14,
13,Surat,IN,85.01,moderate rain,21.17,72.83,
14,Baherden,TM,80.13,clear sky,38.44,57.43,
18,Ribeira Grande,PT,75.20,scattered clouds,38.52,-28.70,
28,Faanui,PF,77.56,light rain,-16.48,-151.75,
29,Georgetown,MY,82.40,scattered clouds,5.41,100.34,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row['Lng']
    params['location']= f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels['results'][0]['name']
    except (IndexError):
        print("Hotel not found.. skipping")

Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping

In [10]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,83.03,overcast clouds,3.07,172.79,
6,Soyo,AO,77.00,broken clouds,-6.13,12.37,
9,Tabuk,PH,75.16,overcast clouds,17.42,121.44,
11,Chumphon,TH,75.56,overcast clouds,10.33,98.83,
12,Santo Tomas,PH,84.20,overcast clouds,14.11,121.14,
...,...,...,...,...,...,...,...
688,Kaseda,JP,78.80,shower rain,31.42,130.32,
690,Port Blair,IN,82.71,light rain,11.67,92.75,
692,Butterworth,MY,82.40,scattered clouds,5.40,100.36,
693,Tallahassee,US,89.01,few clouds,30.44,-84.28,
701,Ixtapa,MX,82.00,overcast clouds,20.70,-105.20,

In [11]:
# 7. Drop the rows where there is no Hotel Name
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,83.03,overcast clouds,3.07,172.79,
6,Soyo,AO,77.00,broken clouds,-6.13,12.37,
9,Tabuk,PH,75.16,overcast clouds,17.42,121.44,
11,Chumphon,TH,75.56,overcast clouds,10.33,98.83,
12,Santo Tomas,PH,84.20,overcast clouds,14.11,121.14,

In [12]:
# 8a. Create the output File (CSV)
output_data_file = ("../vacation_search/WeatherPy_vacation.csv")
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))